<div class="panel {{STYLES.a}}" ng-model="item">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <span><i class="fa fa-crosshairs"></i> </span>
        <span class="zzn-content"> {{item.xq}} </span>
        <span class="pull-right"><a href="{{ item.url }}"><i class="fa fa-link"></i></a></span>
    </div>
    <table class="table ">
        <tr ng-show="item.fbsj">
            <td><i class="fa fa-clock-o"></i> 发布时间</td>
            <td class="zzn-content">{{item.fbsj}}</td>
        </tr>
        <tr ng-show="item.qssj">
            <td><i class="fa fa-clock-o"></i> 起始时间</td>
            <td class="zzn-content">{{item.qssj}}</td>
        </tr>
        <tr ng-show="item.stlt">
            <td><i class="fa fa-clock-o"></i> 短租长租</td>
            <td class="zzn-content"> {{item.stlt}} </td>
        </tr>
        <tr ng-show="item.qy">
            <td><i class="fa fa-location-arrow"></i> 区域</td>
            <td class="zzn-content">{{item.qy}}</td>
        </tr>
        <tr ng-show="item.ybhzcs">
            <td><i class="fa fa-location-arrow"></i> 邮编或者城市</td>
            <td class="zzn-content">{{item.ybhzcs}}</td>
        </tr>
        <tr ng-show="item.yqjg">
            <td><i class="fa fa-calculator"></i> 预期价格</td>
            <td class="zzn-content"> {{item.yqjg}}</td>
        </tr>
        <tr ng-show="item.xb">
            <td><i class="fa fa-child"></i> 性别</td>
            <td class="zzn-content">{{item.xb}}</td>
        </tr>
        <tr ng-show="item.wxId">
            <td><i class="fa fa-weixin"></i> 微信号</td>
            <td class="zzn-content">{{item.wxId}}</td>
        </tr>
        <tr ng-show="item.dhyx">
            <td><i class="fa fa-mail-forward"></i> 电话邮箱</td>
            <td>{{item.dhyx}}</td>
        </tr>
        <tr ng-show="item.grjs">
            <td colspan="2"><i class="fa fa-user"></i> 个人介绍</td>
        </tr>
        <tr ng-show="item.grjs">
            <td colspan="2">
                <p>{{item.grjs}}</p>
            </td>
        </tr>
        <!-- TODO(zzn): add qrcode directive to generate QR code -->
    </table>
</div>