// http://ionicframework.com/docs/v2/theming/
// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../pages/chats-tab/chats-tab.page";
@import "../pages/listings-tab/listings-tab.page";
@import "../pages/settings-tab/settings-tab.page";
@import "../pages/listings-tab/listing-creation.page";
