.height-30px {
    height: 30px;
}

.height-100px {
    height: 100px;
}

.group-qr-code {
    text-align: center;
}

.group-qr-code-caption {

    text-align: center;
}

.link-btn {
    margin-top: 30px;
}

.zzn-content {
    text-align: right;
}

/* Overriding bootstrap */
.container {
    padding-right: 0px; /*15px in bootstrap.css*/
    padding-left: 0px;  /*idem*/
    margin-right: auto;
    margin-left: auto;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.zzn-panel-footer-button {
    margin-right: 20px;
}
.panel {
    margin-top: 20px;
}

.panel-success .panel-heading {
    color: white;
    background-color: #5cb85c;
    background-image: none;
}

.fa-link {
    color: white
}

.panel-primary .panel-heading {
    color: white;
    background-color: #428bca;
    background-image: none;
}
.panel-warning .panel-heading {
    color: white;
    background-color: #f0ad4e;
    background-image: none;
}