.height-30px {
    height: 30px;
}

.height-100px {
    height: 100px;
}

.group-qr-code {
    text-align: center;
}

.group-qr-code-caption {

    text-align: center;
}

.link-btn {
    margin-top: 30px;
}

.zzn-content {
    text-align: right;
}