<ion-row wrap >
    <ion-col width-33 *ngFor="let imageId of imageIds;">
        <img src="{{imageId | imageIdToUrlPipe}}"
             alt="Image {{imageId}}"
             (click)="showImage(imageId)">
    </ion-col>

    <ion-col width-33 *ngIf="isEdit" width="300px" height="300px">
        <label class="custom-file-upload">
            <img src="http://placehold.it/300x300?text=添加" />
            <input name="file" type="file" multiple="" class="cloudinary-fileupload" data-cloudinary-field="image_id" />
        </label>
    </ion-col>
    <ion-col width-33 *ngIf="isEdit && imageIds.length > 0 ">
        <img src="http://placehold.it/300x300?text=删除" (click)="clickDelete()">
    </ion-col>
</ion-row>
