<ion-header>
    <ion-navbar>
        <ion-searchbar>

        </ion-searchbar>
        <ion-buttons end>
            <!--<button ion-button (click)="popoverFilter($event)">-->
                <!--<ion-icon name="funnel"> 筛选</ion-icon>-->
            <!--</button>-->
            <!--<button ion-button (click)="goToCreationPage()">-->
                <!--<ion-icon name="add"> 发帖</ion-icon>-->
            <!--</button>-->

        </ion-buttons>
    </ion-navbar>

    <ion-navbar *ngIf="!largeEnough()">
        <ion-segment [(ngModel)]="mapOrList" (ngModelChange)="updateMapOrList($event)">
            <ion-segment-button value="ONLY_LIST">列表</ion-segment-button>
            <ion-segment-button value="ONLY_MAP">地图</ion-segment-button>
        </ion-segment>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row class="split-panel-container" style="height: 100%;">
        <ion-col #listContainerCol
                 style="height: 100%;" id="left" no-padding>
            <ion-content>
            <ion-list>
                <ion-row align-items-center justify-content-center *ngIf="isInitLoading">
                    <ion-spinner></ion-spinner>
                </ion-row>
                <listing-ux-item *ngFor="let listing of loadedListings; let i = index"
                                 [listing]=listing (onBump)="bumpUpdateOrder($event)"></listing-ux-item>
                <ion-infinite-scroll *ngIf="!isInitLoading" (ionInfinite)="doInfinite($event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-list>
            </ion-content>
        </ion-col>
        <!-- the main content -->
        <ion-col #mapContainerCol style="height: 100%;" id="right" no-padding>
            <map-view #mapView (onBoundaryFilter)="onBoundaryFilter($event)"></map-view>
        </ion-col>
    </ion-row>
</ion-content>