<ion-card *ngIf="listing">
    <img *ngIf="listing.imageIds.length > 0"
         src="{{ listing.imageIds[0] | imageIdToUrlPipe }}"
         alt="img-{{imageId}}"
         (click)="gotoDetail()"/>
    <img *ngIf="listing.imageIds.length == 0" src="assets/res/no-photo-placeholder.png" alt="" (click)="gotoDetail()">
    <ion-card-header class="listing-item-header" no-padding padding-top padding-left padding-right (click)="gotoDetail()">
        <span class="hsy-listing-item-header">{{ listing.content ? listing.title.slice(0, 30) +'...' : '详情见图片' }}</span><br>
    </ion-card-header>
    <ion-card-content no-padding no-margin padding-left>
        <ion-label no-padding no-margin class="hsy-listing-item-price" color="primary">{{ listing.price ? '$' + listing.price.toString() : '价格待议' }}</ion-label>
        <ion-item no-padding no-margin>
            <ion-label item-left class="hsy-listing-item-last-updated" color="grey">{{ listing.lastUpdated | timeFromNow }}更新</ion-label>
            <ion-label item-right ion-button icon-left clear color="grey">
                <ion-icon name="thumbs-up-outline"></ion-icon>
                <span *ngIf="listing.interactions.length > 0">{{listing.interactions.length}}</span>
            </ion-label>
            <ion-label item-right ion-button icon-left clear color="grey">
                <ion-icon name="md-bug"></ion-icon>
            </ion-label>
            <ion-label item-right ion-button icon-left clear color="grey">
                <ion-icon name="eye-outline"></ion-icon>
            </ion-label>
        </ion-item>
    </ion-card-content>
</ion-card>
