<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="goToCreationPage()">
                <ion-icon name="md-add"></ion-icon>
            </button>
        </ion-buttons>
        <ion-searchbar
                [(ngModel)]="searchBarModel"
                (ionInput)="filterItems($event)"
                placeholder="搜索 区域/城市"
                (ionFocus)="isSearching = true"
        >

        </ion-searchbar>
        <ion-buttons end>
            <button ion-button *ngIf="!largeEnough()" (click)="flipMapAndList()">
                <ion-icon *ngIf="!showMapInstead" name="ios-map-outline"></ion-icon>
                <ion-icon *ngIf="showMapInstead" name="ios-list-box-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row [hidden]="isSearching" #splitPanelContainer class="split-panel-container" style="height: 100%;">
        <ion-col #mapContainerCol style="height: 100%;" id="right" no-padding>
            <map-view #mapView (onBoundaryFilter)="onBoundaryFilter($event)"></map-view>
        </ion-col>
        <ion-col #listContainerCol
                 style="height: 100%;" id="left" no-padding>
            <ion-content fullscreen>
            <ion-list>
                <ion-row align-items-center justify-content-center *ngIf="isInitLoading">
                    <ion-spinner></ion-spinner>
                </ion-row>
                <listing-ux-item *ngFor="let listing of loadedListings; let i = index"
                                 [listing]=listing (onBump)="bumpUpdateOrder($event)"
                                [indexFromParent]="i">

                </listing-ux-item>
                <ion-infinite-scroll *ngIf="!isInitLoading" (ionInfinite)="doInfinite($event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-list>
            </ion-content>
        </ion-col>
        <!-- the main content -->
    </ion-row>
    <ion-list [hidden]="!isSearching">
        <ng-container  *ngFor="let searchItem of searchItemsFiltered">
            <ion-item (click)="setSearchTerm(searchItem)">{{ searchItem }}
            </ion-item>
        </ng-container>
    </ion-list>
</ion-content>