listing-ux-item {
  font-size: 16px; // TODO(zzn): add logic to adapt font-size to screen
  & > .wrapper {
    margin: 0 0.75em;
    font-size:1em;
    & > .grid-container {
      display: grid;
      grid-template-columns: 1fr 8em;
      width:100%;
      border-bottom: #e1e1e1 solid 1px;
      padding: 0.75em 0px;
      & > .thumbnail {
        padding:0px;
      }

      & > .content {
        padding-right:1em;
        width: 100%;
        & > .title {
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; /* number of lines to show */
          line-height: 1.5em;        /* fallback */
          max-height: 3em;       /* fallback */

          font-size: 1em;
          color: #4D4D4D;
          font-family: "Hosted Noto Sans Regular";
          margin-bottom: 0.5em;
          word-wrap: break-word;
        }

        & > .middle {
          color: #6C6C6C;
          font-family: "Hosted Noto Sans Regular";
          line-height: 0.75em;
          margin-bottom: 0.25em;
          & > span {
            font-size: 0.75em;
            margin-right: 1.5em;
          }
          & > ion-icon {
            font-size: 0.75em;
            margin-right: 0.5em;
          }

          & > span.location {
            text-transform: capitalize;
          }
        }
        & > .price {
          color: #21b3fe;
          & > span.price-dollar-number-per {
            font-weight:500;
            line-height: 1.5em;
          }
          & > span.month {
            font-size:0.75em;
          }
        }
      }
    }
  }
}