<ion-header>
    <ion-navbar>
        <ion-searchbar>

        </ion-searchbar>
        <ion-buttons end>
            <button ion-button (click)="popoverFilter($event)">
                <ion-icon name="funnel">筛选</ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-navbar>
        <ion-segment [(ngModel)]="mapOrList" (ngModelChange)="updateMapOrList($event)">
            <ion-segment-button value="ONLY_LIST">列表</ion-segment-button>
            <ion-segment-button value="BOTH" >同时</ion-segment-button>
            <ion-segment-button value="ONLY_MAP">地图</ion-segment-button>
        </ion-segment>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row style="height: 100%;">
        <ion-col #listContainerCol class="grey-background"
                 style="height: 100%;" id="left" no-padding>
            <ion-content fullscreen>
                <ion-row align-items-center justify-content-center *ngIf="isInitLoading">
                    <ion-spinner></ion-spinner>
                </ion-row>
                <!--
                    We duplicate the grid and original ion-item because responsive
                    grid doesn't work well with iOS yet.
                    TODO(xinbenlv): remove this ion-list when works on iOS.
                -->
                <ion-list *ngIf="!useGrid">
                    <listing-item *ngFor="let listing of loadedListings; let i = index"
                                  [listing]=listing (onBump)="bumpUpdateOrder($event)"></listing-item>
                </ion-list>
                <ion-grid *ngIf="useGrid">
                    <ion-row>
                        <ion-col
                                col-xl-4
                                col-lg-4
                                col-md-6
                                col-sm-12
                                col-xs-12
                                *ngFor="let listing of loadedListings; let i = index">
                            <listing-item [listing]=listing (onBump)="bumpUpdateOrder($event)"></listing-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-infinite-scroll *ngIf="!isInitLoading" (ionInfinite)="doInfinite($event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-content>
        </ion-col>
        <!-- the main content -->
        <ion-col #mapContainerCol style="height: 100%;" id="right" no-padding>
            <map-view #mapView [listings]="loadedListings" (onBoundaryFilter)="onBoundaryFilter($event)"></map-view>
        </ion-col>
    </ion-row>
</ion-content>