<ion-header>
    <ion-navbar>
        <ion-title>帖子</ion-title>
        <ion-buttons end *ngIf="owner && meId && owner.id == meId" click="edit()">
            <button ion-button (click)="edit()">编辑</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content id="page-container">
    <ion-card *ngIf="!loading">
        <ion-item *ngIf="owner" >
            <ion-avatar item-left>
                <img src="{{owner.avatarSrc}}" alt=""/>
            </ion-avatar>
            {{ owner.name }}
        </ion-item>
        <ion-item>
            <h2>{{listing.title}}</h2>
            <p>{{listing.lastUpdated|timeFromNow}}</p>
        </ion-item>
        <ion-card-content>
            <p style="white-space: pre-line">{{listing.content}}</p>
        </ion-card-content>
        <map-view [listings]="[listing]"></map-view>
        <ion-item *ngFor="let imageId of listing.imageIds">
            <img src="{{ imageId | imageIdToUrlPipe }}" alt="img-{{imageId}}"
                 (click)="showImage(imageId)">
        </ion-item>
        <ion-item *ngIf="!listing.imageIds">
            无照片
        </ion-item>
        <ion-item>
            <div style="margin: 20%" id="qrcode" ></div>
        </ion-item>
        <ion-item>
            <ion-badge color="{{ listing.type == 0 ? 'secondary' : 'primary'}}" item-left>
                {{listing.type|enumMsgPipe}}
            </ion-badge>
            <button ion-button color="primary" clear item-right (click)="generateQrCode()">
                二维码 <ion-icon name="ios-qr-scanner"></ion-icon>
            </button>
            <button ion-button color="primary" clear item-right (click)="startChat()">
                私聊<ion-icon name="chatbubbles"></ion-icon>
            </button>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="loading">
        loading
    </ion-card>
</ion-content>
