<ion-header>
    <ion-toolbar no-border-bottom>
        <ion-title>
            好室友
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="gotoCreationPage()">
                <ion-icon name="add"></ion-icon>发帖
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar no-border-top>
        <ion-segment [ngModel]="segmentModel" (ngModelChange)="onSegmentModelChange($event)">
            <ion-segment-button value="ROOMMATE_WANTED">招租</ion-segment-button>
            <ion-segment-button value="ROOM_WANTED">求租</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <ion-toolbar no-border-top>
        <ion-segment [ngModel]="areaModel" (ngModelChange)="onAreaModelChange($event)">
            <ion-segment-button value="All">全部</ion-segment-button>
            <ion-segment-button value="SanFrancisco">三番</ion-segment-button>
            <ion-segment-button value="MidPeninsula">中半岛</ion-segment-button>
            <ion-segment-button value="SouthBayWest">南湾西</ion-segment-button>
            <ion-segment-button value="SouthBayEast">南湾东</ion-segment-button>
            <ion-segment-button value="EastBay">东湾</ion-segment-button>
            <ion-segment-button value="Seattle">西雅图</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content class="listing-tab">
    <ion-list *ngIf="isLoading">
        <ion-item>loading...</ion-item>
    </ion-list>
    <ion-list *ngIf="!isLoading">
        <listing-item  *ngFor="let listing of loadedListings; let i = index"
                       [listing]=listing></listing-item>
    </ion-list>
</ion-content>
