<ion-content id="page-container">
    <div class="detail-header">
        <button>Back</button>
    </div>
    <ion-slides class="detail-image-slides" pager *ngIf="!loading && listing.imageIds">
        <ng-container *ngFor="let imageId of listing.imageIds">
            <ion-slide style="background-size:cover; background-repeat:no-repeat; background-position: center center; "
                       [style.background-image]="'url(' + imageService.getUrlFromId(imageId) + ')'">
            </ion-slide>
        </ng-container>

    </ion-slides>
    <div class="detail-content" *ngIf="!loading">
        <div class="detail-content-title-block">
            <h1>
                San Mateo宽敞舒适房间出租
            </h1>
            <div class="subtitle">2天前发布</div>
            <div class="subtitle">110人看过</div>
            <!--TODO(xinbenlv): update the subtitle with actual data-->
        </div>

        <div class="detail-content-map">
            <img style="width:100%;height:100%"
                 src="https://maps.googleapis.com/maps/api/staticmap?center=40.714728,-73.998672&zoom=12&size=375x140&key=AIzaSyDilZ69sI7zcszD1XWZ6oeV4IW8rufebMY"
                 alt="">
            <div class="detail-map-title-block">
                <div class="detail-map-title">San Mateo</div>
                <div class="detail-map-subtitle">具体地址请联系房东获得</div>
            </div>
        </div>

        <div class="section highlight-facts">
            <div class="logo-box" *ngFor="let i of ['独栋别墅','2室1卫','12个月起租','2017/1/1开始']">
                <div class="logo-box-logo">
                    <ion-icon name="ios-home-outline"></ion-icon>
                </div>
                <div class="logo-box-text">
                    {{i}}
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-title">描述</div>
            <div class="section-body">
                招租 安全独立屋House分租1b1b, 独立一房一厅一卫一院，独立出入门，拎包入住, 包快WiFi网, 垃圾费, 日常消耗品等等, 安全, 安静, 干净, 便利, 气候怡人! 位于San Mateo/
                Fos…
            </div>
            <div class="section-more">更多...</div>
        </div>
        <div class="section">
            <div class="section-title">设施／须知</div>
            <div class="grid-container">
                <div class="grid-half-screen" *ngFor="let i of ['带家具','洗衣机/烘干机','健身房','无线网络','空调','停车位']">
                    <span class="small-logo"><ion-icon name="ios-cube-outline"></ion-icon></span>
                    <span class="label">{{i}}</span>
                </div>
            </div>

            <div class="section-more">更多...</div>
        </div>
        <div class="section">
            <div class="section-title">联系房东</div>
            <div class="full-width" *ngFor="let i of [1,2,3]">
                <span class="small-logo"><ion-icon name="ios-cube-outline"></ion-icon></span>
                <span class="label">电话</span>
                <span class="contetn">812-123-4567</span>
            </div>
            <div class="section-more">更多...</div>
        </div>
    </div>
    <ion-list *ngIf="loading">
        <ion-item>
            <ion-row align-items-center justify-content-center>
                <ion-spinner></ion-spinner>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer class="footer grid-container">
    <div class="footer-button">
        <span>$/1400</span><span>/月</span>
    </div>
    <div class="footer-button">
        <span>联系房东</span>
    </div>
</ion-footer>

