
map-view {
  .search-in-map-btn {
    color: #fff;
    padding: 4px;
    margin-top: 8px;
    margin-bottom: 22px;
    text-align: center;
    border-radius: 16px;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    border: 2px solid #21b3fe;
    background-color: #21b3fe;

  }
}