<ion-header>
    <ion-toolbar>
        <ion-title>
            设置
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="auth.authenticated()">
        <ion-item *ngIf="auth.user != null">
            <ion-avatar item-left>
                <img src="{{ auth.user.picture }}">
            </ion-avatar>
            <h2>{{ auth.user.nickname }}</h2>
            <p>{{ auth.user.email }}</p>
            <button ion-button item-right (click)="auth.logout()">登出</button>
        </ion-item>
    </ion-card>
    <ion-list>
        <ion-item *ngIf="!auth.authenticated()">
            <ion-label>请登录</ion-label>
            <button ion-button item-right (click)="auth.login()">登录</button>
        </ion-item>
        <ion-item>
            <ion-label>
                API 版本: {{ versionApp }}
            </ion-label>
            <button ion-button item-right (click)="startSync()">刷新</button>
        </ion-item>
        <ion-item>
            现在的版本: {{ versionDownloaded }}
        </ion-item>
        <ion-item>
            Pending: {{ versionPending }}
        </ion-item>
        <ion-item>
            Remote: {{ versionRemote }}
        </ion-item>
    </ion-list>


</ion-content>
