.creation {
  textarea.text-input {
    height: 150px;
  }
}

.cloudinary-fileupload {
  display: none;
}
.custom-file-upload {
  display:inline-block;
}

.preview {
  display: inline;
}
.preview img {
  display: inline-block;
}