<ion-navbar *navbar>
    <ion-title>
        Create
    </ion-title>
    <ion-buttons end>
        <button (click)="save()">Save</button>
    </ion-buttons>
</ion-navbar>

<ion-content class="creation" style="height:50%">
    <ion-list>
        <ion-item>
            <ion-label>Type</ion-label>
            <ion-select>
                <ion-option value="Roommate Wanted" checked="true">Want Roommate</ion-option>
                <ion-option value="Room Wanted">Want Room</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label fixed>Title</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Details</ion-label>
            <ion-textarea></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label fixed>Contact</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Location</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Pictures</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
