<ion-row *ngFor="let row of cacheGrid; let rowIndex = index">
    <ion-col width-33 *ngFor="let col of row; let colIndex = index">
        <img *ngIf="col!='add' && col!='delete'" src="{{col}}" alt="Image row:{{rowIndex}}, col:{{colIndex}}"
             id="image-{{rowIndex}}-{{colIndex}}"
             (click)="showImage(col, rowIndex, colIndex)">
        <img *ngIf="col=='add' && isEdit" src="http://placehold.it/300x300?text=添加" (click)="clickAdd()">
        <img *ngIf="col=='delete' && isEdit" src="http://placehold.it/300x300?text=删除" (click)="clickDelete()">
    </ion-col>
</ion-row>
