<ion-navbar *navbar>
    <ion-title>
        好室友
    </ion-title>
    <ion-buttons end>
        <button (click)="gotoCreationPage()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content class="listing-tab" style="height:50%">
    <div style="width:100%;height:100%" id="map_canvas"></div>
</ion-content>
<ion-content class="listing-tab" style="height:50%">
    <ion-list>
        <listing-item *ngFor="let listing of listings" [listing]=listing></listing-item>
    </ion-list>
</ion-content>
