<ion-navbar *navbar>
    <ion-title>帖子</ion-title>
    <ion-buttons end *ngIf="owner && meId && owner.id == meId" click="edit()">
        <button (click)="edit()">编辑</button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <ion-card>
        <ion-item *ngIf="owner" >
            <ion-avatar item-left>
                <img src="{{owner.avatarSrc}}" alt=""/>
            </ion-avatar>
            {{ owner.name }}
        </ion-item>
        <ion-item>
            <h2>{{listing.title}}</h2>
            <p>{{listing.lastUpdated|timeFromNow}}</p>
        </ion-item>
        <ion-card-content>
            <p style="white-space: pre-line">{{listing.content}}</p>
        </ion-card-content>
        <map-view [listings]="[listing]"></map-view>
        <image-grid *ngIf="listing.imageIds" [imageUrls]="listing.imageIds | imageIdsToUrlPipe"></image-grid>
        <ion-item *ngIf="!listing.imageIds">
            无照片
        </ion-item>
        <ion-item>
            <ion-badge class="{{ listing.type == 0 ? 'badge-secondary' : 'badge-primary'}}" item-left>
                {{listing.type|enumMsgPipe}}
            </ion-badge>
            <button primary clear item-right (click)="startChat()">
                私信<ion-icon name="chatbubbles"></ion-icon>
            </button>
        </ion-item>
    </ion-card>
</ion-content>
