<ion-navbar *navbar>
    <ion-title>
        Create
    </ion-title>
    <ion-buttons end>
        <button (click)="save()">Save</button>
    </ion-buttons>
</ion-navbar>

<ion-content class="creation">
    <ion-item>
        <ion-label>Location</ion-label>
        <ion-label>{{ localityText }}</ion-label>
    </ion-item>
    <div style="width:100%;height:250px" id="map_drag_canvas"></div>
    <ion-item>
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="listing.type">
            <ion-option *ngFor="let v of typeOptions "> {{ v | enumMsgPipe }}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label fixed>Title</ion-label>
        <ion-input type="text" [(ngModel)]="listing.title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Details</ion-label>
        <ion-textarea [(ngModel)]="listing.content"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label fixed>Contact</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label fixed>Pictures</ion-label>
        <ion-input fixed disabled></ion-input>
    </ion-item>

    <ion-item *ngIf="listing">
        <image-grid
                (add)="pickPictures()"
                [imageUrls]="listing.imageIds | imageIdToUrlPipe"
                [isEdit]="true"
        ></image-grid>
    </ion-item>

</ion-content>
