<ion-navbar *navbar>
    <ion-title>Detail</ion-title>
    <ion-buttons end *ngIf="owner && meId && owner.id == meId" click="edit()">
        <button (click)="edit()">Edit</button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <ion-card>
        <ion-item>
            <span item-left>{{listing.type|enumMsgPipe}}</span>
            <button primary clear item-right (click)="startChat()">
                <ion-icon name="chatbubbles"></ion-icon>
            </button>
        </ion-item>
        <ion-item *ngIf="owner" >
            <ion-avatar item-left>
                <img src="{{owner.avatarSrc}}" alt=""/>
            </ion-avatar>
            {{ owner.name }}
        </ion-item>
        <ion-item>
            <h2>{{listing.title}}</h2>
            <p>{{listing.updated|timeFromNow}}</p>
        </ion-item>
        <ion-card-content>
            <p style="white-space: pre-line">{{listing.content}}</p>
        </ion-card-content>
        <map-view [listings]="[listing]"></map-view>
        <image-grid *ngIf="listing.imageIds" [imageUrls]="listing.imageIds | imageIdToUrlPipe"></image-grid>
        <ion-item *ngIf="!listing.imageIds">
            No Pictures
        </ion-item>
        <ion-item>
            <span item-left>{{listing.type|enumMsgPipe}}</span>
            <button primary clear item-right (click)="startChat()">
                <ion-icon name="chatbubbles"></ion-icon>
            </button>
        </ion-item>
    </ion-card>
</ion-content>
