<ion-navbar *navbar>
    <ion-title>
        Create
    </ion-title>
    <ion-buttons end>
    </ion-buttons>
</ion-navbar>

<ion-content class="creation">
    <form *ngIf="active" (ngSubmit)="save()" #listingEditForm="ngForm">
    <ion-item>
        <ion-label>Location</ion-label>
        <ion-label>{{localityText}}</ion-label>
    </ion-item>
    <div style="width:100%;height:250px" id="map_drag_canvas"></div>
    <ion-item>
        <ion-label>Type</ion-label>
        <ion-select required
                    [(ngModel)]="listing.type"
                    ngControl="type"
                    #type="ngForm">
            <ion-option *ngFor="let v of typeOptions " [value]="v"> {{ v | enumMsgPipe }}</ion-option>
        </ion-select>
        <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
            Listing Type is required
        </div>
    </ion-item>
    <ion-item>
        <ion-label fixed>Title</ion-label>
        <ion-input required
                   [(ngModel)]="listing.title"
                   ngControl="title"
                   #title="ngForm"
                   type="text"></ion-input>
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            Title is required
        </div>
    </ion-item>
    <ion-item>
        <ion-label>Details</ion-label>
        <ion-textarea required
                      [(ngModel)]="listing.content"
                      ngControl="content"
                      #content="ngForm"></ion-textarea>
        <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
            Content is required
        </div>
    </ion-item>
    <ion-item>
        <ion-label fixed>Contact</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label fixed>Pictures</ion-label>
        <ion-input fixed disabled></ion-input>
    </ion-item>

    <ion-item *ngIf="platform.is('ios') || platform.is('android')">
        <image-grid
                (add)="pickPictures()"
                [imageUrls]="listing.imageIds | imageIdToUrlPipe"
                [isEdit]="true"
        ></image-grid>
    </ion-item>
    <ion-item *ngIf="!(platform.is('ios') || platform.is('android'))">
        Sorry, Web cannot upload image (yet), to upload image, use your phone.
    </ion-item>
    <ion-item>
        <button type="submit" class="btn btn-default" [disabled]="!listingEditForm.form.valid">Submit</button>
    </ion-item>
    </form>
</ion-content>
