# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# ==========================
# Haoshiyou Specific gitignores

*.mobileprovision
haoshiyou.app.dSYM.zip
haoshiyou.ipa
release-cred/
Gemfile.lock
res/
releases/
# fastlane's latency report
fastlane/report.xml
src/app/env.prod.ts
src/app/env.dev.ts
src/app/env.ts

TDCVDBXA6X.cer
TDCVDBXA6X.certSigningRequest
TDCVDBXA6X.certSigningRequest
