# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

# credential information from https://github.com/xinbenlv/haoshiyou-security
www/config

npm-debug.log
node_modules/
www/build/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db
*.mobileprovision

haoshiyou.app.dSYM.zip
haoshiyou.ipa
release-cred/
