<ion-navbar *navbar></ion-navbar>
<ion-content>
    <ion-list>
        <chat-message
                *ngFor="let messageInfo of messageInfos"
                [message]="messageInfo.message" [author]="messageInfo.author" [incoming]="messageInfo.incoming">
        </chat-message>
    </ion-list>
</ion-content>

<ion-toolbar position="bottom">
    <ion-row>
        <ion-textarea block placeholder="Write your message here..."
                      (keydown.enter)="onEnter($event)"
                      [(ngModel)]="draftMessageText"></ion-textarea>
        <button clear outline royal (click)="onEnter($event)">
            Send
            <ion-icon name="send"></ion-icon>
        </button>
    </ion-row>
</ion-toolbar>