// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bs {
  $theme-colors: (
          "primary": #0074d9,
          "danger": #ff4136
  );
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: white;
  $font-size-base: 14px;
  $padding-base-vertical: 6px;
  @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
  @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/theme";
}

body {
  user-select: text; // TODO(xinbenlv): AB-testing whether we wanna enable user-select
  -webkit-user-select: text;
  -moz-user-select: text;
}

// TODO(zzn): move to listing-item
.listing-item .content {
  font-size: 13px;
  color: #888;
}

.grey-background {
  background: #EEE;
}

@font-face {
  font-family: "Hosted Noto Sans Regular";
  src: url("../assets/res/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Hosted Noto Sans Black";
  src: url("../assets/res/fonts/NotoSans-Black.ttf");
}

.item {
  min-height: 3rem; /* <- this can be whatever you need */
}

.hsy-listing-item-header {
  font-family: "Hosted Noto Sans Regular";
  font-size: 16px;
}

.hsy-listing-item-price {
  font-family: "Hosted Noto Sans Regular";
  font-size: 16px;
}

.hsy-listing-item-last-updated {
  font-family: "Hosted Noto Sans Regular";
  font-size: 14px;
}

//@todo: Remove after Issue ionic-team/ionic#11640 is fixed
.card .item.item-block:not(:last-child) .item-inner {
  border-bottom: 1px solid #dedede;
}

.creation {
  ion-input.ng-dirty.ng-invalid,
  ion-select.ng-dirty.ng-invalid {
      border-right: $text-input-highlight-color-invalid solid;
  }
}

// Tab Page
#left {
  float: left;
  overflow-y: scroll;
}

#right {
  float: left;
  overflow-y: scroll;
}

.half-width {
  width:50%;
}

.full-width {
  width:100%;
}

ion-icon {
  &[class*="custom-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  // custom icons
  &[class*="custom-home"] {
    mask-image: url(../assets/res/logo/home_inactive.svg);
  }
  &[class*="custom-message"] {
    mask-image: url(../assets/res/logo/message_inactive.svg);
  }
  &[class*="custom-profile"] {
    mask-image: url(../assets/res/logo/profile_inactive.svg);
  }
  &[class*="custom-sort"] {
    mask-image: url(../assets/res/logo/sort.svg);
  }
  &[class*="custom-filter"] {
    mask-image: url(../assets/res/logo/filter.svg);
  }
  &[class*="custom-map"] {
    mask-image: url(../assets/res/logo/map_inactive.svg);
  }
  &[class*="custom-list"] {
    mask-image: url(../assets/res/logo/list.svg);
  }
}
//
//.card .item.item-block:not(.item-input):not(.item-select):not(.item-radio):not(.item-checkbox) .item-inner {
//  border: 0;
//}