// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bs {
  $theme-colors: (
          "primary": #0074d9,
          "danger": #ff4136
  );
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: white;
  $font-size-base: 14px;
  $padding-base-vertical: 6px;
  @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
  @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/theme";
}

body {
  user-select: text; // TODO(xinbenlv): AB-testing whether we wanna enable user-select
  -webkit-user-select: text;
  -moz-user-select: text;
}

// TODO(zzn): move to listing-item
.listing-item .content {
  font-size: 13px;
  color: #888;
}

.grey-background {
  background: #EEE;
}

@font-face {
  font-family: "Hosted Noto Sans Regular";
  src: url("../assets/res/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Hosted Noto Sans Black";
  src: url("../assets/res/fonts/NotoSans-Black.ttf");
}

@font-face {
  font-family: "Hosted Source Han Sans Normal";
  src: url("../assets/res/fonts/SourceHanSans-Normal.ttc");
}

@font-face {
  font-family: "Hosted Source Han Sans Regular";
  src: url("../assets/res/fonts/SourceHanSans-Regular.ttc");
}

@font-face {
  font-family: "Hosted Source Han Sans SC Regular";
  src: url("../assets/res/fonts/SourceHanSansSC-Regular.otf");
}

.item {
  min-height: 3rem; /* <- this can be whatever you need */
}

.hsy-listing-item-header {
  font-family: "Hosted Noto Sans Regular";
  font-size: 20px;
}

.hsy-listing-item-price {
  font-family: "Hosted Noto Sans Regular";
  font-size: 22px;
}

.hsy-listing-item-last-updated {
  font-family: "Hosted Noto Sans Regular";
  font-size: 14px;
}

//@todo: Remove after Issue ionic-team/ionic#11640 is fixed
.card .item.item-block:not(:last-child) .item-inner {
  border-bottom: 1px solid #dedede;
}
//
//.card .item.item-block:not(.item-input):not(.item-select):not(.item-radio):not(.item-checkbox) .item-inner {
//  border: 0;
//}