<ion-header>
    <ion-navbar>
        <ion-title>
            对话
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="meId">
        <chat-thread
                *ngFor="let thread of threads; let i = index"
                [thread]="thread"
                [badgeCounter]="badgeCounters[i]">
        </chat-thread>
        <ion-item *ngIf="!threads || !threads.length"> 没有任何消息 </ion-item>
    </ion-list>

    <ion-list *ngIf="!meId">
        <ion-item>
            <ion-label>请登录</ion-label>
            <button ion-button item-right (click)="auth.login()">登录</button>
        </ion-item>
    </ion-list>
</ion-content>
